@import "tailwindcss";


body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  background: linear-gradient(
    to right,
    #DBE7F6,
    #D6DFEF,
    #E6DCEF)
}

 